.light {
  background-color: #fff;
}

.dark {
  background-color: #282a36;
}

.blue {
  background-color: #458eed;
}

.pink {
  background-color: #ea405f;
}

.green {
  background-color: #8bdb43;
}

.purple {
  background-color: #885fd6;}